<main class='error-page'>
    <div class='wrapper'>
        <h1 class='title'>
            {{title}}
        </h1>
        <div class='message'>
            {{message}}
        </div>
        {{{link}}}
    </div>
</main>