  .empty-correspondence {
    grid-area: messages;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #999;
    font-size: 16px;
    font-weight: 500;
  }

