<form>
    <label class='upload-photo {{labelState}}' >
        <img class="img {{objectFit}}" src="{{url}}" alt="avatar">
        <input {{labelState}} type='file' accept='image/*' />
    </label>
</form>
