<div class="messages-header">
    <div class="user">
        <div class="avatar">
            <img class="img" src="{{interlocutor.avatar}}" alt="avatar">
        </div>
        <div class="user-name">{{{interlocutor.first_name}}}</div>
    </div>
    {{{button}}}
</div>
