<main class='user-settings-page'>
    {{{goBack}}}
    <form class='wrapper'>
        <div class='header'>
            <label class='upload-photo upload-photo-disabled'>
                <input disabled type='file' accept='image/*' />
            </label>
        </div>

        <div class='list'>
            {{{listItems}}}
        </div>

        <div class='btn-wrapper'>
            {{{button}}}
        </div>
    </form>
</main>
