<main class='user-settings-page'>
    {{{goBack}}}
    <div class='wrapper'>
        <div class='header'>
            {{{avatarEdit}}}
        </div>
        <form class="form-wrapper">
            <div class='list'>
                {{{listItems}}}
            </div>

            <div class='btn-wrapper'>
                {{{button}}}
            </div>
        </form>
    </div>
</main>
