<form class="messages-form">
    <label class="messages-field">
        <textarea required class="messages-field-textarea"  placeholder="Сообщение" type="text" name="message" cols="30"></textarea>
    </label>
    <button class="send-btn">&#11015;</button>
</form>
