.possible-dialogue{
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 47px minmax(0, 1fr);
  gap: 10px;
  padding: 12px 10px;
  max-height: 71px;
  transition: background-color 150ms ;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    padding: 0 10px;
    height: 1px;
    border: 1px solid var(--border-color);
  }

  &:hover {
    background-color: rgb(228 237 253);
  }

  .avatar {
    .img {
      width: 47px;
      height: 47px;
      min-height: 47px;
      min-width: 47px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    overflow: hidden;
    display: flex;
    align-items: center;

    .name {
      color: rgb(30 30 30);
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
      text-align: left;
      padding-bottom: 4px;
    }
  }
}
