<label class='field'>
    {{{input}}}
    <span class='field-placeholder'>
        {{placeholder}}
    </span>
    <span class='error-message {{errorStatus}} '>
        {{message}}
    </span>
</label>