<main class="auth-form">
    <form class="form">
        <h3 class="form-title">{{title}}</h3>
        <div class="field-wrapper">
            {{#each context.fields}}
                {{> field type=this.type placeholder=this.placeholder name=this.name }}
            {{/each}}
        </div>
        <div class="form-actions">
            {{> button type=context.btn.type title=context.btn.title}}
            {{> link href=context.link.href title=context.link.title }}
        </div>
    </form>
</main>
