<li class="chat-item">
    <div class="chat-avatar">
        <div class="chat-avatar-img"></div>
    </div>
    <div class="chat-info">
        <div class="chat-name">{{{name}}}</div>
        <div class="chat-preview">{{{textPreview}}}</div>
    </div>
    <div class="chat-meta">
        <div class="chat-time"><span>{{{date}}}</span></div>
        <div class="chat-unread-count"><span>{{{messageCount}}}</span></div>
    </div>
</li>
