.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 15px;

  .field-input {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--blue);
  }
  .field-placeholder {
    position: absolute;
    pointer-events: none;
    transform: translateY(0%);
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    transition: font-size 150ms,  transform 150ms;
  }

  .field-input:focus ~ .field-placeholder,
  .field-input:not(:focus):valid ~ .field-placeholder {
    transform: translateY(-100%);
    font-size: 9px;
  }
}